nav.navbar.navbar-inverse(role='navigation')
	.navbar-header
		button.navbar-toggle(type='button', data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='/', style="padding: 3px 0px 0px 10px;")
			img.navbar-brand(src='/img/icon_2648.svg', alt='dropout-jeep', style="height: 40px; margin:0; padding:0;")
	.collapse.navbar-collapse#navblock1
		ul.nav.navbar-nav
			li(class="#{page=='home' ? 'active' : ''}"): a(href='/') Latest
			li(class="#{page=='queue' ? 'active' : ''}"): a(href='/queue') Queue
			- if (locals.user)
				li(class="#{page=='faves' ? 'active' : ''}"): a(href='/faves') Favorites
				li(class="#{page=='post' ? 'active' : ''}"): a(href='/post') 
					i.fa.fa-pencil.fa-lg 
					|  Post
		ul.nav.navbar-nav.navbar-right
			- if (locals.user)
				li(class="#{page=='profile' ? 'active' : ''}"): a(href='/profile/@#{user.handle}')= user.handle
				li: a(href='/profile/edit'): i.fa.fa-gear
				li: a(href='/signout'): i.fa.fa-sign-out
			- else
				li(class="#{page=='signup' ? 'active' : ''}"): a(href="/signup") Sign up
				li(class="#{page=='signin' ? 'active' : ''}"): a(href='/signin'): i.fa.fa-sign-in
