extends layout

mixin renderComment(c)
	hr
	small= c.createdRel()
		| &nbsp;
		a(href='/profile/@#{c.poster}')= c.poster
	br
	!= c.render()

block content
	#postComment.modal.fade
		.modal-dialog
			.modal-content
				form(method='POST', action='/post/' + post.id + '/comment')
					input#_csrf(name="_csrf", type='hidden', value="#{_csrf}")
					input#_csrf(name='post', type='hidden', value="#{post.id}")
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
						h4 Comment
					.modal-body
						textarea.form-control(rows='7', name='content')
						span.help-block You can use Markdown or limited html.
					.modal-footer
						button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Cancel
						button.btn.btn-sm.btn-primary(type='submit') Comment
	.container
		.page-header
			h3= post.title
				|   
				small= post.createdRel().toLowerCase() 
					| &nbsp;
					a(href='/profile/@#{post.poster}')= post.poster				
					- if (locals.user && locals.user.handle == post.poster)
						| &nbsp;
						a(href='/post/' + post.id + '/edit'): i.fa.fa-edit
		div!= post.render()
		- each tag in post.tags
			a.btn.btn-info.btn-xs(href='/tags/' + tag)= tag
			|  
		- if (!post.comments.length)
			hr
			p No comments yet.
		- else 
			- each c in post.comments
				+renderComment(c)
		hr
		- if (locals.user)
			button.btn.btn-primary.btn-sm(data-toggle='modal', data-target='#postComment') Comment
